<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WmsBaseWarehouseMapper">
    
    <resultMap type="WmsBaseWarehouse" id="WmsBaseWarehouseResult">
        <result property="id"    column="id"    />
        <result property="warehouseNo"    column="warehouse_no"    />
        <result property="warehouseName"    column="warehouse_name"    />
        <result property="warehouseType"    column="warehouse_type"    />
        <result property="warehouseAddress"    column="warehouse_address"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWmsBaseWarehouseVo">
        select id, warehouse_no, warehouse_name, warehouse_type, warehouse_address, create_user, create_time, update_time from wms_base_warehouse
    </sql>

    <select id="selectWmsBaseWarehouseList" parameterType="WmsBaseWarehouse" resultMap="WmsBaseWarehouseResult">
        <include refid="selectWmsBaseWarehouseVo"/>
        <where>  
            <if test="warehouseNo != null  and warehouseNo != ''"> and warehouse_no = #{warehouseNo}</if>
            <if test="warehouseName != null  and warehouseName != ''"> and warehouse_name like concat('%', #{warehouseName}, '%')</if>
            <if test="warehouseType != null  and warehouseType != ''"> and warehouse_type = #{warehouseType}</if>
            <if test="warehouseAddress != null  and warehouseAddress != ''"> and warehouse_address = #{warehouseAddress}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
        </where>
    </select>
    
    <select id="selectWmsBaseWarehouseById" parameterType="Long" resultMap="WmsBaseWarehouseResult">
        <include refid="selectWmsBaseWarehouseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWmsBaseWarehouse" parameterType="WmsBaseWarehouse" useGeneratedKeys="true" keyProperty="id">
        insert into wms_base_warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseNo != null  and warehouseNo != ''">warehouse_no,</if>
            <if test="warehouseName != null  and warehouseName != ''">warehouse_name,</if>
            <if test="warehouseType != null  and warehouseType != ''">warehouse_type,</if>
            <if test="warehouseAddress != null  and warehouseAddress != ''">warehouse_address,</if>
            <if test="createUser != null  and createUser != ''">create_user,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseNo != null  and warehouseNo != ''">#{warehouseNo},</if>
            <if test="warehouseName != null  and warehouseName != ''">#{warehouseName},</if>
            <if test="warehouseType != null  and warehouseType != ''">#{warehouseType},</if>
            <if test="warehouseAddress != null  and warehouseAddress != ''">#{warehouseAddress},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWmsBaseWarehouse" parameterType="WmsBaseWarehouse">
        update wms_base_warehouse
        <trim prefix="SET" suffixOverrides=",">
            <if test="warehouseNo != null  and warehouseNo != ''">warehouse_no = #{warehouseNo},</if>
            <if test="warehouseName != null  and warehouseName != ''">warehouse_name = #{warehouseName},</if>
            <if test="warehouseType != null  and warehouseType != ''">warehouse_type = #{warehouseType},</if>
            <if test="warehouseAddress != null  and warehouseAddress != ''">warehouse_address = #{warehouseAddress},</if>
            <if test="createUser != null  and createUser != ''">create_user = #{createUser},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsBaseWarehouseById" parameterType="Long">
        delete from wms_base_warehouse where id = #{id}
    </delete>

    <delete id="deleteWmsBaseWarehouseByIds" parameterType="String">
        delete from wms_base_warehouse where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>