<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WmsCustomerMapper">
    
    <resultMap type="WmsCustomer" id="WmsCustomerResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="lead"    column="lead"    />
        <result property="phone"    column="phone"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWmsCustomerVo">
        select id, name, lead, phone, create_time, update_time from wms_customer
    </sql>

    <select id="selectWmsCustomerList" parameterType="WmsCustomer" resultMap="WmsCustomerResult">
        <include refid="selectWmsCustomerVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="lead != null  and lead != ''"> and lead = #{lead}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
        </where>
    </select>
    
    <select id="selectWmsCustomerById" parameterType="Long" resultMap="WmsCustomerResult">
        <include refid="selectWmsCustomerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWmsCustomer" parameterType="WmsCustomer" useGeneratedKeys="true" keyProperty="id">
        insert into wms_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="lead != null  and lead != ''">lead,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="lead != null  and lead != ''">#{lead},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWmsCustomer" parameterType="WmsCustomer">
        update wms_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="lead != null  and lead != ''">lead = #{lead},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsCustomerById" parameterType="Long">
        delete from wms_customer where id = #{id}
    </delete>

    <delete id="deleteWmsCustomerByIds" parameterType="String">
        delete from wms_customer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>