<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-sm-5">
            <h2>仓储管理系统</h2>
            <p>
				随着科技的发展和社会的进步,计算机的软件的技术在更多的领域内应用,使得这些行业和领域的发展加快[1],而在仓储管理中的应用就是其中的一个,仓库管理是与我们日常生活息息相关的问题。大到公司、超市的仓库管理，小到图书馆的藏书管理，都可以认为是各种各样的仓库管理需求，进而仓储管理的电子化和自动化变得非常有必要，从而孕育出了仓储管理系统WMS(Warehouse Management System) [2]。
				仓储管理系统是一个事业单位一个不可或缺的系统,传统的仓储管理是通过在纸质文档记录仓库的进，销，存，数量来实现对仓储的管理,这种方式的缺点是显而易见的,比如人力成本比较高,还有效率,便捷性等方面都比较差,当仓储的进,销记录比较的多的时候,对数据的查找,更新,修改是比较困难的。所以在事业单位中实现一个仓储管理系统是非常有必要的,从而减少人力物力,而信息化的管理检索方便,可靠性提高,存储量打,保密性好,可远程,成本低等等,这些都可以极大提高货品的管理效率 ,也是可以使企业的仓储管理更加先进化,科技化 [3-6]
			</p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
				<li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>

</body>
</html>
